body {
  height: 100%;
  background: linear-gradient(#FDFDFE, #F2F3F7);
}

.App {
  height: 100%;
  background-image: url(./assets/images/zoovu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-container h1 {
  font-size: 18px;
  font-weight: 800;
}
  
:hover, :active, :focus {
  outline: none!important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.home-container .form-control {
  margin-top: 40px;
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 1px solid #ced4da !important;
  text-align: center;
  font-style: italic;
}

.home-container .btn-go {
  padding: 8px 20px;
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  background: white;
  color: #3E2379;
  font-weight: 800;
}
 
.header-container .greet-container h1 {
  font-weight: 800;
}

.header-container .timer-container h1 {
  font-weight: 400;
  color: #3E2379;
}

.dd-text-container h1 {
  font-size: 15px;
  font-weight: 400;
  color: #A0AABB;
}

.card-container {
  background-color: white;
  height: 10vw;
  width: 10vw;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(75, 75, 75, 0.05);
}

.card-container img {
  max-width: 50%;
  max-height: 50%;
}

.game-slot {
  height: 10vw;
  width: 10vw;
  border-radius: 10px;
}

.game-slot.dashed {
  border: 1px dashed #6AE7B2;
}

.light-gray {
  color: #ced4da;
}

